.conteiner{
    width: 100%;
    max-width: 500px;
    padding: 16px;
    margin: 0 auto; 
}
body {
    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color:#ffffff;
}
p, h1, h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none; 
    color:currentColor;
}

ol, ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}